@charset "UTF-8";
@font-face {
  font-family: "BwGlennSansDEMO-Black";
  src: local("../fonts/BwGlennSansDEMO-Black"), url("../fonts/BwGlennSansDEMO-Black.woff"), url("../fonts/BwGlennSansDEMO-Black.ttf"), url("../fonts/BwGlennSansDEMO-Black.eot"), url("../fonts/BwGlennSansDEMO-Black.otf");
}
@font-face {
  font-family: BwGlennSansDEMO-Bold;
  src: local("../fontsBwGlennSansDEMO-Bold"), url("../fontsBwGlennSansDEMO-Bold.woff"), url("../fontsBwGlennSansDEMO-Bold.ttf"), url("../fontsBwGlennSansDEMO-Bold.eot"), url("../fontsBwGlennSansDEMO-Bold.otf");
}
/*GENERALES*/
a {
  color: unset;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
h1 strong {
  color: #FFA020;
  font-size: 100px;
  font-weight: 800;
  font-family: "Heebo", sans-serif;
}

h2 {
  font-family: "BwGlennSansDEMO-Black";
  font-size: 30px;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 50px;
  font-family: "Heebo", sans-serif;
  font-weight: 800;
}
h3 strong {
  color: #FFA020;
}

img {
  width: 100%;
  display: block;
  position: relative;
}

.back-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: absolute;
  align-items: center;
  padding: 0 100px;
}
header .logo-header {
  max-height: 100%;
  overflow: hidden;
  width: 50%;
}
header .logo-header img {
  height: 100px;
  width: auto;
}
header nav {
  width: 50%;
}
header nav ul {
  display: flex;
  width: 90%;
  float: right;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 500;
  color: white;
}

section.almango {
  height: 100vh;
}
section.almango img.back-image {
  height: 100vh;
}
section.almango h1 {
  font-size: 50px;
  color: transparent;
  text-align: center;
  padding-top: 34vh;
  -webkit-text-stroke: 1px white;
}
section.almango h1 strong {
  -webkit-text-stroke: initial;
}

section.nosotros {
  background-color: black;
  padding: 63px 0;
}
section.nosotros h2 {
  color: white;
  text-align: center;
}
section.nosotros .contenedor {
  display: flex;
  flex-wrap: wrap;
}
section.nosotros .contenedor .col.izq {
      width: 50%;
    float: left;
    padding-right: 40px;
    overflow: hidden;
}
section.nosotros .contenedor .col.izq .image-efecto {
  position: relative;
}
section.nosotros .contenedor .col.izq .image-efecto img.captura-ipad {
  width: 85%;
  z-index: 150;
}
section.nosotros .contenedor .col.izq .image-efecto img.screen-shot {
  position: absolute;
  z-index: 10;
  position: absolute;
  z-index: 10;
  width: 194%;
  left: -50%;
  top: 43px;
}
section.nosotros .contenedor .col.izq .image-efecto .animacion-moto {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 264px;
    margin-left: 30px;
    overflow: hidden;
}
section.nosotros .contenedor .col.izq .image-efecto .animacion-moto img.moto-izquierda {
    bottom: 39px;
    left: -100%;
    z-index: 200;
    transform: translateX(100%);
    transition-delay: 2s;
    transition-duration: 4s;
}
section.nosotros .contenedor .col.der {
  float: right;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
section.nosotros .contenedor .col.der p {
  color: white;
  font-size: 20px;
  text-align: right;
  line-height: 29px;
}
section.vendedor{
    background: black;
    background-image: url(../img/fondos/Fondo3.svg);
    background-size: cover;
}
section.vendedor h3 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;

}
section.vendedor .contenedor {
  position: relative;
  height: 130vh;
}
section.vendedor .imagen-efect-2 {
    position: absolute;
    top: 59px;
    z-index: 200;
    width: 71%;
    margin-left: 15%;
}
section.vendedor .imagen-efect-1 {
    position: absolute;
    top: 0;
    z-index: 300;
}
.imagen-efect-3 {
    position: absolute;
    z-index: 600;
    overflow: hidden;
    width: 50%;
    left: 0;
    top: 140px;
}
.imagen-efect-3 img{
    right: -100%;
    z-index: 600;
    transform: translateX(-100%);
    transition-delay: 4s;
    transition-duration: 4s;
}

.imagen-efect-4 {
    position: absolute;
    overflow: hidden;
    z-index: 700;
    width: 1%;
    top: 40%;
    left: 49%;
    transform: scale(50);
    transition-delay: 1.0s;
    transition-duration: 4s;
}
.imagen-efect-4 img{
    transform: scale(1);
    
}
.imagen-efect-5 {
  overflow: hidden;
  position: absolute;
  z-index: 600;
  width: 50%;
  right: 0;
  top: 140px;

}
.imagen-efect-5 img {
    left: -100%;
    z-index: 600;
    transform: translateX(100%);
    transition-delay: 2s;
    transition-duration: 4s;
}
section.beneficios h2 {
    text-align: center;
    padding: 50px 0;
    padding-bottom: 0;
}
section.beneficios .contenedor .col.mid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 380px;
  align-items: center;
  padding: 60px;
  justify-content: space-between;
}
section.beneficios .contenedor .col.mid img {
  width: auto;
  height: 100%;
}
section.beneficios .contenedor .col.mid p {
  width: 50%;
  color: black;
  text-align: right;
}
section.servicios {
    padding: 0 50px;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    position: relative;
    background-color: black;
    background-image: url(../img/fondos/Fondo2.svg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position-x: right;
    padding-bottom: 0;
}
section.servicios .servicios-tab {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  position: absolute;
  top: -70px;
}
section.servicios .servicios-tab .items-tab {
  padding: 10px;
  box-shadow: 6px 6px 6px #74706A87;
  border: 1px solid #CFCFCF;
  border-radius: 24px;
  opacity: 1;
  background: white;
  min-width: 116px;
}
section.servicios .servicios-tab .items-tab img {
  width: 50%;
  margin: auto;
}
section.servicios .servicios-tab .items-tab p {
  font-size: 15px;
  font-family: "Heebo";
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin-top: 15px;
}
section.servicios .contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 170px;
}
section.servicios .contenedor .col.izq {
  width: 50%;
  float: left;
  color: white;
}
section.servicios .contenedor .col.izq h2 {
  margin-bottom: 100px;
  text-transform: uppercase;
}
section.servicios .contenedor .col.izq p {
  width: 70%;
}
section.servicios .contenedor .col.der {
  width: 50%;
}
section.servicios .contenedor .col.der img {
  width: 70%;
  float: right;
}
section.servicios .contenedor.suscripcion h3 {
  color: white;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
section.servicios .contenedor.suscripcion .tipos-suscripcion {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
section.servicios .contenedor.suscripcion .tipos-suscripcion .subtipos {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.servicios .contenedor.suscripcion .tipos-suscripcion .subtipos p {
  font-size: 30px;
  text-transform: uppercase;
  color: transparent;
  font-family: "Heebo";
  -webkit-text-stroke: 1px white;
}
section.servicios .contenedor.suscripcion .tipos-suscripcion .subtipos.gold {
  background: transparent radial-gradient(closest-side at 48% 53%, #EFB810 0%, #000000 100%) 0% 0% no-repeat padding-box;
  background: transparent radial-gradient(closest-side at 48% 53%, #EFB810 0%, #000000 100%) 0% 0% no-repeat padding-box;
}
section.servicios .contenedor.suscripcion .tipos-suscripcion .subtipos.plata {
  background: #8A9597;
}
section.servicios .contenedor.suscripcion .tipos-suscripcion .subtipos.black {
  background: black;
}
section.servicios .contenedor.suscripcion .laptop-img {
  position: relative;
}
section.servicios .contenedor.suscripcion .laptop-img img.screenshot-moto {
    position: absolute;
    width: 70%;
    top: 60px;
    z-index: 10;
    left: 16%;
}

section.banner-publicidad {
  background: black;
  background-image: url(../img/fondos/Fondo1.svg);
  background-size: cover;
  padding-top: 30px;
}
section.banner-publicidad .contenedor h3 {
  -webkit-text-stroke: 1px white;
  font-family: "Raleway";
  color: transparent;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}
section.banner-publicidad .contenedor .texto-banner {
  color: white;
  width: 40%;
  margin-top: 30px;
}
section.banner-publicidad .contenedor .texto-banner p {
  margin: 40px 0;
  font-size: 20px;
  font-family: "Heebo";
  text-align: left;
}
section.banner-publicidad .contenedor .tipos-suscripcion {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 0 auto;
}
section.banner-publicidad .contenedor .tipos-suscripcion .subtipos {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
section.banner-publicidad .contenedor .tipos-suscripcion .subtipos.active {
  background: transparent radial-gradient(closest-side at 50% 50%, #060606 0%, #FFA020 100%) 0% 0% no-repeat padding-box;
  border: unset;
}
section.banner-publicidad .contenedor .tipos-suscripcion .subtipos p {
  font-family: "Raleway";
  font-weight: 500;
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-size: 30px;
  text-transform: uppercase;
}
section.banner-publicidad .contenedor .laptop-movil {
  display: flex;
  width: 100%;
  align-items: center;
}
section.banner-publicidad .contenedor .laptop-movil img {
  width: 50%;
  height: auto;
}

section.servicios-complementarios {
  height: auto;
  background: black;
  padding-bottom: 50px;
}
section.servicios-complementarios h3 {
  width: 942px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  color: transparent;
  font-family: "Raleway";
  -webkit-text-stroke: 1px white;
  margin-bottom: 30px;
}
section.servicios-complementarios .items-servicios {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
}
section.servicios-complementarios .items-servicios .subitems-servicios .subitems-img {
  width: 110px;
  height: 110px;
  background-color: white;
  padding: 16px;
  border-radius: 19px;
  margin: auto;
}
section.servicios-complementarios .items-servicios .subitems-servicios .subitems-img.active {
  background: transparent radial-gradient(closest-side at 50% 50%, #ffa020 0%, #000000 100%) 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 1px var(--unnamed-color-000000);
}
section.servicios-complementarios .items-servicios .subitems-servicios p {
  padding: 0 19px;
  color: white;
  text-align: center;
  font-family: "Heebo";
  font-weight: 300;
  font-size: 15px;
  margin-top: 15px;
}
section.servicios-complementarios .estadistica {
  margin-top: 60px;
}
section.servicios-complementarios .estadistica .contenedor {
  display: flex;
  align-items: center;
}
section.servicios-complementarios .estadistica .contenedor .col.izq {
  width: 40%;
  float: left;
}
section.servicios-complementarios .estadistica .contenedor .col.izq p {
  color: white;
  font-size: 20px;
  font-family: "Heebo";
  text-align: left;
}
section.servicios-complementarios .estadistica .contenedor .col.der {
  width: 60%;
}

section.tarifas {
  background: #FFA020A1;
  padding: 80px 0;
}
section.tarifas h2 {
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
}
section.tarifas .tarifas-contenido {
  width: 500px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
section.tarifas .tarifas-contenido .dedos-items {
  padding: 20px;
  border-radius: 50%;
  background: white;
  width: 100px;
  height: 100px;
}
section.tarifas .tarifas-contenido .dedos-items.active {
  background: transparent radial-gradient(closest-side at 50% 50%, #4B5AFC 0%, #000000 100%) 0% 0% no-repeat padding-box;
  box-shadow: 6px 0px 30px #0000001A;
}
section.tarifas .tarifas-contenido .dedos-items.active img {
  filter: invert(1);
}
section.tarifas .tipos-tarifas {
  margin-top: 60px;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
section.tarifas .tipos-tarifas .subtipos {
  background: white;
  width: 20%;
  height: auto;
  padding: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 30px #00000063;
  border-radius: 27px;
}
section.tarifas .tipos-tarifas .subtipos h4 {
  color: #4B5AFC;
  font-size: 30px;
  font-family: "Heebo";
  font-weight: 700;
}
section.tarifas .tipos-tarifas .subtipos img {
  width: 75px;
}
section.tarifas .tipos-tarifas .subtipos .precio-tipo {
  margin-top: 10px;
  width: 100%;
  border-radius: 29px;
  background: #4B5AFC4A;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section.tarifas .tipos-tarifas .subtipos .precio-tipo p {
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 500;
}
section.tarifas .tipos-tarifas .subtipos ul {
  margin-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  border-bottom: 1px solid #4B5AFC;
  width: 100%;
}
section.tarifas .tipos-tarifas .subtipos ul li {
  font-size: 12px;
}
section.tarifas .tipos-tarifas .subtipos ul li::before {
  content: "•";
  color: #FF5700;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: 0px;
  font-size: 20px;
}
section.tarifas .tipos-tarifas .subtipos .datos-incluidos {
  text-align: center;
}
section.tarifas .tipos-tarifas .subtipos .datos-incluidos h5 {
  margin: 15px auto;
}
section.tarifas .tipos-tarifas .subtipos .datos-incluidos ul {
  border: unset;
  list-style: none;
}
section.tarifas .tipos-tarifas .subtipos .datos-incluidos ul li {
  list-style: none;
  text-align: center;
}
section.tarifas .tipos-tarifas .subtipos .datos-incluidos ul li::after {
  content: "•";
  color: #000000;
  font-weight: 900;
  display: flex;
  margin-left: 0px;
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
section.tarifas .tipos-tarifas .subtipos .datos-incluidos ul li::before {
  display: none;
}
section.tarifas .condiciones .contenedor h6 {
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 800;
  margin: 20px 0;
}
section.tarifas .condiciones .contenedor ul li {
  font-size: 15px;
  font-family: "Raleway";
  font-weight: 500;
}
section.tarifas .condiciones .contenedor ul li::before {
  content: "•";
  color: #4B5AFC;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: 0px;
  font-size: 20px;
}
section.tarifas .banner-publicitarios {
  padding: 50px 0;
  height: auto;
}
section.tarifas .banner-publicitarios .tarifas-contenido .dedos-items {
  width: 100px;
  height: 100px;
}
section.tarifas .banner-publicitarios .tarifas-contenido .dedos-items.active {
  background: transparent linear-gradient(180deg, #D0D1D5 0%, #656565 100%) 0% 0% no-repeat padding-box;
  box-shadow: 6px 0px 30px #0000001A;
}
section.tarifas .banner-publicitarios .tarifas-contenido p {
  font-family: "Heebo";
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}
section.tarifas .banner-publicitarios-tabs {
  margin: 60px auto;
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
section.tarifas .banner-publicitarios-tabs .subitems-banner {
  width: 200px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 30px #00000063;
  border-radius: 27px;
  padding: 32px 10px;
}
section.tarifas .banner-publicitarios-tabs .subitems-banner h4 {
  color: #4B5AFC;
  font-size: 30px;
  font-family: "Heebo";
  text-align: center;
  text-transform: uppercase;
}
section.tarifas .banner-publicitarios-tabs .subitems-banner img {
  width: 75px;
  margin: 0 auto;
}
section.tarifas .banner-publicitarios-tabs .subitems-banner p {
  font-size: 50px;
  font-family: "Montserrat";
  text-align: center;
  position: relative;
  width: -webkit-max-content;
  width: max-content;
  margin: 0 auto;
}
section.tarifas .banner-publicitarios-tabs .subitems-banner p span {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: -20px;
}
section.tarifas .banner-publicitarios .tabs-precios {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  width: 90%;
  margin: 0 auto;
}
section.tarifas .banner-publicitarios .tabs-precios .subtabs-precio {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 30px #00000061;
  border-radius: 27px;
  padding: 20px 5px;
  position: relative;
}
section.tarifas .banner-publicitarios .tabs-precios .subtabs-precio p {
  text-align: center;
  font-family: "Raleway";
  font-weight: 500;
}
section.tarifas .banner-publicitarios .tabs-precios .subtabs-precio img {
  width: 75px;
  margin: auto;
}
section.tarifas .banner-publicitarios .tabs-precios .subtabs-precio .precio {
  display: flex;
}
section.tarifas .banner-publicitarios .tabs-precios .subtabs-precio .precio p.precio-p {
  font-size: 60px;
  font-family: "Montserrat";
}
section.tarifas .banner-publicitarios .tabs-precios .subtabs-precio .precio p.tipo-precio {
  font-size: 65px;
}
section.tarifas .banner-publicitarios .tabs-precios .subtabs-precio .precio p.tipo-precio:after {
  content: "mes";
  font-size: 15px;
}
section.tarifas .banner-publicitarios .tabs-precios .subtabs-precio img.img-absolute {
  width: 20px !important;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

footer {
  padding: 60px 0;
}
footer .contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
footer .contenedor .col.izq {
  width: 30%;
  float: left;
}
footer .contenedor .col.der {
  width: 70%;
  padding: 0 80px;
  text-align: center;
}
footer .contenedor .col.der img {
  width: 50%;
  margin: 0 auto;
}
footer .contenedor .contacto-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
footer .contenedor .rrss-footer {
  display: flex;
  width: auto;
  margin: 0 auto;
  padding-top: 40px;
}
footer .contenedor .rrss-footer img {
  width: 45px;
  margin: 10px;
}
@media screen and (min-width: 300px) and (max-width: 600px){
    html,body{
        overflow-x: hidden;
    }
    h1 strong {
    color: #FFA020;
    font-size: 50px;
    }
    h3{
        font-size: 30px;
    }
    header{
        padding: 0;
    }
    header .logo-header {
    width: 100%;
    }
    header .logo-header img {
    margin: 0 auto;
    }
    section.almango h1 {
    font-size: 35px;
    padding-top: 150px;
    }
    header nav {
    display: none;
    }
    section.nosotros .contenedor .col.izq {
    width: 100%;
    padding: 0 20px;
    }
    section.nosotros .contenedor .col.izq .image-efecto {
    overflow: hidden;
    }
    section.nosotros .contenedor .col.izq .image-efecto img.screen-shot {
    z-index: 10;
    top: 24px;
    }
    section.nosotros .contenedor .col.izq .image-efecto .animacion-moto {
        width: 85%;
        top: 180px;
        margin-left: 19px;
    }
    section.nosotros .contenedor .col.der {
        width: 100%;
        justify-content: center;
        padding: 0 20px;

    }
    section.nosotros .contenedor .col.der p {
        text-align: center;
        font-size: 15px;
    }
    section.vendedor {
    padding: 0 20px;
    background-size: contain;
    background-repeat: no-repeat;
    }
    section.vendedor .imagen-efect-1 {
    top: 40px;
    }
    .imagen-efect-3 {
    top: 80px;
    }
    .imagen-efect-5 {
    top: 80px;
    }
    .imagen-efect-4 {
    top: 50%;
    }
    section.vendedor .contenedor {
    position: relative;
    height: 45vh;
    }
    section.beneficios .contenedor .col.mid img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    }
    section.beneficios .contenedor .col.mid p {
    width: 80%;
    color: black;
    text-align: center;
    margin: 0 auto;
    }
    section.beneficios {
    height: 100vh;
    }
    section.servicios .servicios-tab {
    display: none;
    }
    section.servicios .contenedor {
    padding-top: 30px;
    }
    section.servicios {
    padding: 0 20px;
    }
    section.servicios .contenedor .col.izq {
    width: 100%;
    }
    section.servicios .contenedor .col.izq h2 {
    margin-bottom: 20px;
    }
    section.servicios .contenedor .col.izq p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    }
    section.servicios .contenedor .col.der {
    width: 100%;
    }
    section.servicios .contenedor .col.der img {
    width: 70%;
    float: unset;
    margin: 0 auto;
    }
    section.servicios .contenedor.suscripcion .tipos-suscripcion {
    width: 100%;
    }
    section.servicios .contenedor.suscripcion .tipos-suscripcion .subtipos {
    height: 90px;
    width: 90px;
    }
    section.servicios .contenedor.suscripcion .tipos-suscripcion .subtipos p {
    font-size: 20px;
    }
    section.servicios .contenedor.suscripcion .laptop-img img.screenshot-moto {
    top: 20px;
    }
    section.banner-publicidad .contenedor .texto-banner {
    width: 100%;
    padding: 0 20px;
    }
    section.banner-publicidad .contenedor .tipos-suscripcion {
    width: 100%;
    justify-content: space-evenly;
    }
    section.banner-publicidad .contenedor .tipos-suscripcion .subtipos {
    width: 75px;
    height: 75px;
    }
    section.banner-publicidad .contenedor .tipos-suscripcion .subtipos p {
    font-size: 15px;
    }
    section.banner-publicidad .contenedor .laptop-movil {
    padding: 0 20px;
    }
    section.servicios-complementarios h3 {
    width: 100%;
    font-size: 30px;
    padding-top: 20px;
    }
    section.servicios-complementarios .items-servicios {
    display: none;
    }
    .estadistica {
    padding: 0 20px;
    }
    section.servicios-complementarios .estadistica .contenedor {
    flex-wrap: wrap;
    }
    section.servicios-complementarios .estadistica .contenedor .col.izq {
    width: 100%;
    }
    section.servicios-complementarios .estadistica .contenedor .col.izq p {
    text-align: center;
    }
    section.servicios-complementarios .estadistica .contenedor .col.der {
    margin: auto;
    margin-top: 30px;
    }
    section.tarifas .tarifas-contenido {
    width: 100%;
    justify-content: space-evenly;
    }
    section.tarifas .tarifas-contenido .dedos-items {
    width: 70px;
    height: 70px;
    }
    section.tarifas .tipos-tarifas {
    flex-wrap: wrap;
    }
    section.tarifas .tipos-tarifas .subtipos {
    width: auto;
    margin-bottom: 20px;
    }
    .condiciones {
    padding: 0 20px;
    }
    section.tarifas .banner-publicitarios .tarifas-contenido .dedos-items {
    width: 70px;
    height: 70px;
    }
    section.tarifas .banner-publicitarios-tabs {
    flex-wrap: wrap;
    }
    section.tarifas .banner-publicitarios-tabs .subitems-banner {
    margin-bottom: 20px;
    }
    section.tarifas .banner-publicitarios .tabs-precios {
    display: none;
    }
    footer {
    padding: 60px 20px;
    }
    footer .contenedor .col.der {
    padding: 0;
    }
    footer .contenedor .contacto-footer {
    flex-direction: column;
    margin-top: 20px;
    }
    footer .contenedor .contacto-footer p {
    margin-top: 20px;
    text-align: center;
    }
    footer .contenedor .rrss-footer {
    flex-wrap: wrap;
    justify-content: center;
    }
    section{
        max-width: 100%;
    }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {

}
@media screen and (min-width: 1000px) and (max-width: 1200px) {

}